#local terraform file
.terraform/*

#terraform state files
*.tfstate
*.tfstate.*

#terraform variable files
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store

# ignore crash logs
crash.log